<!DOCTYPE html>
{% extends 'blog/base.html' %}

{% block body_block%}
    <div class="jumbotron">
        <div class="container" align="center">
            <h1>Thanks for visiting Aditya's Blog</h1>
            <p>Anyways we are feeling very sad because you logout atleast 24 hours per day you have to spend with our website like facebook</p>
            <h2>Please login Again: </h2>
            <a href="/accounts/login" class="btn btn-prmary btn-lg btn-success">Login</a>
        </div>

    </div>
{% endblock %}